<!DOCTYPE html>
<html>
    <head>
        <title>Secure Website</title>

        {% load static %}
        <link href="{% static 'pages/styles.css' %}" rel='stylesheet'>
        <script src='https://kit.fontawesome.com/333fd59b62.js' crossorigin='anonymous'></script>
    </head>

    <body>
        <h1>Password Manager</h1>

        <h2>Welcome {{username}}!</h2>

        <div id="passwords">
            <h2>Your Passwords:</h2>

            <table>
                <tr>
                    <th>Account</th>
                    <th>Password</th>
                </tr>

                {% if records %}

                {% for record in records %}
                <tr>
                    <td>{{record.account}}</td>
                    <td>{{record.password}}</td>
                </tr>
                {% endfor %}

                {% else %}

                <tr>
                    <td>-</td>
                    <td>-</td>
                </tr>

                {% endif %}
            </table>
        </div>

        <form method='POST'>
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        <label>Account:</label>
                    </td>
                    <td>
                        <input type='text' name='account' />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Password:</label>
                    </td>
                    <td>
                        <input type='text' name='password' />
                    </td>
                </tr>
            </table>
            <button type='submit'>Add / Update</button>
        </form>

        {% if error_message %}
        <p>{{error_message}}</p>
        {% endif %}

        <button>
            <a href='../../logout/'>Log Out</a>
        </button>
    </body>
</html>